#ifdef FROM_MAKEFILE
#include "src\\Resources.RH"
#else
#include "Resources.RH"
#endif

#ifdef FROM_MAKEFILE
IDI_MAIN ICON "src\\app.ico"
#else
IDI_MAIN ICON "app.ico"
#endif

#ifdef FROM_MAKEFILE
IDR_RT_MANIFEST1 RT_MANIFEST "src\\manifest.xml"
#else
IDR_RT_MANIFEST1 RT_MANIFEST "manifest.xml"
#endif

/* Layout */

#define DIALOG_PADDING 7
// Approximately a square dialog, slightly elongated vertically
#define DIALOG_WIDTH_1 252
#define DIALOG_HEIGHT_1 218
// smaller
#define DIALOG_WIDTH_2 227
#define DIALOG_HEIGHT_2 215
// A small dialog stretched horizontally
#define DIALOG_WIDTH_3 212
#define DIALOG_HEIGHT_3 188

#define STATIC_EDIT_BETWEENSPACE 3
#define STATIC_LISTBOX_BETWEENSPACE 3
#define RELATED_CONTROL_BETWEENSPACE 4
#define UNRELATED_CONTROL_BETWEENSPACE 7

#define GROUPBOX_PADDING_LEFT 6
#define GROUPBOX_PADDING_TOP 11
#define GROUPBOX_PADDING_RIGHT 6
#define GROUPBOX_PADDING_BOTTOM 7
#define GROUPBOX_CONTROL_BETWEENSPACE 4

#define BUTTONS_HORIZONTALARRANGED_BETWEENSPACE 4
#define BUTTONS_VERTICALARRANGED_BETWEENSPACE 4

#define BUTTON_WIDTH 50
#define BUTTON_HEIGHT 14
#define BUTTON_WIDTH_H2 25

#define RADIO_WIDTH 
#define RADIO_HEIGHT 10

// width of longest item
#define CHECKBOX_WIDTH 
#define CHECKBOX_HEIGHT 10

// width of longest item + 30%
#define COMBOBOX_WIDTH 
#define COMBOBOX_HEIGHT 14

// width of longest item + 30%
#define LISTBOX_WIDTH 
// integral number of items (3 items minimum)
#define LISTBOX_HEIGHT 

// columns widths that avoid truncated data
#define LISTVIEW_WIDTH 
// an integral number of items
#define LISTVIEW_HEIGHT 

//127 or 237
#define PROGRESSBAR_WIDTH_SMALL 127
#define PROGRESSBAR_WIDTH_BIG 237
#define PROGRESSBAR_HEIGHT 8
#define PROGRESSBAR_WIDTH_SMALL_H2 63
#define PROGRESSBAR_WIDTH_BIG_H2 103

// width of longest item
#define STATIC_WIDTH  46
#define STATIC_HEIGHT 8
#define STATIC_MARGIN 2

// width of longest or expected input + 30%
#define TEXTBOX_WIDTH 120
#define TEXTBOX_HEIGHT 14
#define TEXTBOX_EACH_ADDITIONAL_LINE 10

// width of longest item + 30%
#define TREEVIEW_WIDTH
// integral number of items (5 items minimum)
#define TREEVIEW_HEIGHT

// width of longest valid data + 30%
#define DROPDOWNLIST_WIDTH
#define DROPDOWNLIST_HEIGHT 14

/* Control positions */

#define ROW_1_X               DIALOG_PADDING + GROUPBOX_PADDING_LEFT
#define ROW_1_Y               DIALOG_PADDING + GROUPBOX_PADDING_TOP
#define IDC_STC_SERVER_X      ROW_1_X
#define IDC_STC_SERVER_Y      ROW_1_Y + STATIC_MARGIN
#define IDC_STC_SERVER_W      STATIC_WIDTH
#define IDC_STC_SERVER_H      STATIC_HEIGHT

#define IDC_EDT_SERVER_X      IDC_STC_SERVER_X + RELATED_CONTROL_BETWEENSPACE + IDC_STC_SERVER_W
#define IDC_EDT_SERVER_Y      ROW_1_Y
#define IDC_EDT_SERVER_W      TEXTBOX_WIDTH + RELATED_CONTROL_BETWEENSPACE + BUTTON_WIDTH + RELATED_CONTROL_BETWEENSPACE + BUTTON_WIDTH
#define IDC_EDT_SERVER_H      TEXTBOX_HEIGHT

#define ROW_2_X               DIALOG_PADDING + GROUPBOX_PADDING_LEFT
#define ROW_2_Y               DIALOG_PADDING + GROUPBOX_PADDING_TOP
#define IDC_STC_RESOURCE_X    IDC_STC_SERVER_X
#define IDC_STC_RESOURCE_Y    IDC_EDT_SERVER_Y + IDC_EDT_SERVER_H + UNRELATED_CONTROL_BETWEENSPACE + STATIC_MARGIN
#define IDC_STC_RESOURCE_W    STATIC_WIDTH
#define IDC_STC_RESOURCE_H    STATIC_HEIGHT

#define IDC_EDT_RESOURCE_X    IDC_EDT_SERVER_X
#define IDC_EDT_RESOURCE_Y    IDC_EDT_SERVER_Y + IDC_EDT_SERVER_H + UNRELATED_CONTROL_BETWEENSPACE
#define IDC_EDT_RESOURCE_W    IDC_EDT_SERVER_W
#define IDC_EDT_RESOURCE_H    TEXTBOX_HEIGHT

#define IDC_STC_VERB_X        IDC_STC_SERVER_X
#define IDC_STC_VERB_Y        IDC_EDT_RESOURCE_Y + IDC_EDT_RESOURCE_H + UNRELATED_CONTROL_BETWEENSPACE + STATIC_MARGIN
#define IDC_STC_VERB_W        STATIC_WIDTH
#define IDC_STC_VERB_H        STATIC_HEIGHT

#define IDC_EDT_VERB_X        IDC_EDT_SERVER_X
#define IDC_EDT_VERB_Y        IDC_EDT_RESOURCE_Y + IDC_EDT_RESOURCE_H + UNRELATED_CONTROL_BETWEENSPACE
#define IDC_EDT_VERB_W        IDC_EDT_SERVER_W
#define IDC_EDT_VERB_H        TEXTBOX_HEIGHT

#define IDC_STC_FILE_X        IDC_STC_SERVER_X
#define IDC_STC_FILE_Y        IDC_EDT_VERB_Y + IDC_EDT_VERB_H + UNRELATED_CONTROL_BETWEENSPACE + STATIC_MARGIN
#define IDC_STC_FILE_W        STATIC_WIDTH
#define IDC_STC_FILE_H        STATIC_HEIGHT

#define IDC_EDT_FILE_X        IDC_EDT_SERVER_X
#define IDC_EDT_FILE_Y        IDC_EDT_VERB_Y + IDC_EDT_VERB_H + UNRELATED_CONTROL_BETWEENSPACE
#define IDC_EDT_FILE_W        IDC_EDT_SERVER_W - RELATED_CONTROL_BETWEENSPACE - BUTTON_WIDTH - RELATED_CONTROL_BETWEENSPACE - BUTTON_WIDTH
#define IDC_EDT_FILE_H        TEXTBOX_HEIGHT

#define IDC_BTN_BROWSE_X      IDC_EDT_SERVER_X + RELATED_CONTROL_BETWEENSPACE + IDC_EDT_FILE_W
#define IDC_BTN_BROWSE_Y      IDC_EDT_FILE_Y
#define IDC_BTN_BROWSE_W      BUTTON_WIDTH
#define IDC_BTN_BROWSE_H      BUTTON_HEIGHT

#define IDC_BTN_PASTE_X       IDC_BTN_BROWSE_X + IDC_BTN_BROWSE_W + RELATED_CONTROL_BETWEENSPACE
#define IDC_BTN_PASTE_Y       IDC_EDT_FILE_Y
#define IDC_BTN_PASTE_W       BUTTON_WIDTH
#define IDC_BTN_PASTE_H       BUTTON_HEIGHT

#define IDC_STC_TYPE_X        IDC_STC_SERVER_X
#define IDC_STC_TYPE_Y        IDC_EDT_FILE_Y + IDC_EDT_FILE_H + UNRELATED_CONTROL_BETWEENSPACE + STATIC_MARGIN
#define IDC_STC_TYPE_W        STATIC_WIDTH
#define IDC_STC_TYPE_H        STATIC_HEIGHT

#define IDC_EDT_TYPE_X        IDC_EDT_SERVER_X
#define IDC_EDT_TYPE_Y        IDC_EDT_FILE_Y + IDC_EDT_FILE_H + UNRELATED_CONTROL_BETWEENSPACE
#define IDC_EDT_TYPE_W        IDC_EDT_SERVER_W
#define IDC_EDT_TYPE_H        TEXTBOX_HEIGHT

#define IDC_STC_USER_X        IDC_STC_SERVER_X
#define IDC_STC_USER_Y        IDC_EDT_TYPE_Y + IDC_EDT_TYPE_H + UNRELATED_CONTROL_BETWEENSPACE + STATIC_MARGIN
#define IDC_STC_USER_W        STATIC_WIDTH
#define IDC_STC_USER_H        STATIC_HEIGHT

#define IDC_EDT_USER_X        IDC_EDT_SERVER_X
#define IDC_EDT_USER_Y        IDC_EDT_TYPE_Y + IDC_EDT_TYPE_H + UNRELATED_CONTROL_BETWEENSPACE
#define IDC_EDT_USER_W        IDC_EDT_SERVER_W
#define IDC_EDT_USER_H        TEXTBOX_HEIGHT

#define IDC_STC_PASSWORD_X    IDC_STC_SERVER_X
#define IDC_STC_PASSWORD_Y    IDC_EDT_USER_Y + IDC_EDT_USER_H + UNRELATED_CONTROL_BETWEENSPACE + STATIC_MARGIN
#define IDC_STC_PASSWORD_W    STATIC_WIDTH
#define IDC_STC_PASSWORD_H    STATIC_HEIGHT

#define IDC_EDT_PASSWORD_X    IDC_EDT_SERVER_X
#define IDC_EDT_PASSWORD_Y    IDC_EDT_USER_Y + IDC_EDT_USER_H + UNRELATED_CONTROL_BETWEENSPACE
#define IDC_EDT_PASSWORD_W    IDC_EDT_SERVER_W
#define IDC_EDT_PASSWORD_H    TEXTBOX_HEIGHT

#define IDC_GRP_REQUEST_X     DIALOG_PADDING
#define IDC_GRP_REQUEST_Y     DIALOG_PADDING
#define IDC_GRP_REQUEST_W     GROUPBOX_PADDING_LEFT + IDC_STC_SERVER_W + RELATED_CONTROL_BETWEENSPACE + IDC_EDT_SERVER_W + GROUPBOX_PADDING_RIGHT
#define IDC_GRP_REQUEST_H     IDC_EDT_PASSWORD_Y + IDC_EDT_PASSWORD_H + GROUPBOX_PADDING_BOTTOM - IDC_GRP_REQUEST_Y


#define IDC_STC_RESPONSE_X    IDC_STC_SERVER_X
#define IDC_STC_RESPONSE_Y    IDC_GRP_RESPONSE_Y + GROUPBOX_PADDING_TOP
#define IDC_STC_RESPONSE_W    100
#define IDC_STC_RESPONSE_H    STATIC_HEIGHT

#define IDC_EDT_RESPONSE_X    IDC_STC_RESPONSE_X
#define IDC_EDT_RESPONSE_Y    IDC_STC_RESPONSE_Y + IDC_STC_RESPONSE_H + RELATED_CONTROL_BETWEENSPACE
#define IDC_EDT_RESPONSE_W    STATIC_WIDTH + RELATED_CONTROL_BETWEENSPACE + TEXTBOX_WIDTH + RELATED_CONTROL_BETWEENSPACE + BUTTON_WIDTH + RELATED_CONTROL_BETWEENSPACE + BUTTON_WIDTH
#define IDC_EDT_RESPONSE_H    TEXTBOX_HEIGHT + 50

#define IDC_GRP_RESPONSE_X    DIALOG_PADDING
#define IDC_GRP_RESPONSE_Y    IDC_GRP_REQUEST_Y + IDC_GRP_REQUEST_H + UNRELATED_CONTROL_BETWEENSPACE
#define IDC_GRP_RESPONSE_W    IDC_GRP_REQUEST_W
#define IDC_GRP_RESPONSE_H    IDC_EDT_RESPONSE_Y + IDC_EDT_RESPONSE_H + GROUPBOX_PADDING_BOTTOM - IDC_GRP_RESPONSE_Y


#define IDOK_X                IDC_GRP_REQUEST_X + IDC_GRP_REQUEST_W + UNRELATED_CONTROL_BETWEENSPACE
#define IDOK_Y                DIALOG_PADDING
#define IDOK_W                BUTTON_WIDTH
#define IDOK_H                BUTTON_HEIGHT

#define IDC_BTN_COPY_X        IDOK_X
#define IDC_BTN_COPY_Y        IDOK_Y + IDOK_H + BUTTONS_VERTICALARRANGED_BETWEENSPACE
#define IDC_BTN_COPY_W        BUTTON_WIDTH
#define IDC_BTN_COPY_H        BUTTON_HEIGHT

#define IDCANCEL_X            IDOK_X
#define IDCANCEL_Y            IDC_BTN_COPY_Y + IDC_BTN_COPY_H + BUTTONS_VERTICALARRANGED_BETWEENSPACE
#define IDCANCEL_W            BUTTON_WIDTH
#define IDCANCEL_H            BUTTON_HEIGHT

#define IDD_DLG_TASKS_X       0
#define IDD_DLG_TASKS_Y       0
#define IDD_DLG_TASKS_W       IDOK_X + IDOK_W + DIALOG_PADDING
#define IDD_DLG_TASKS_H       IDC_GRP_RESPONSE_Y + IDC_GRP_RESPONSE_H + DIALOG_PADDING

IDD_DLG_TASKS DIALOGEX IDD_DLG_TASKS_X, IDD_DLG_TASKS_Y, IDD_DLG_TASKS_W, IDD_DLG_TASKS_H
CAPTION "Http Rest Client"
STYLE WS_POPUPWINDOW | WS_VISIBLE | WS_CAPTION | WS_CLIPSIBLINGS | WS_MINIMIZEBOX | DS_CENTER | DS_SHELLFONT
#if (WINVER >= 0x0600) /* Windows Vista */
FONT 9, "Segoe UI"
#else
FONT 8, "MS Shell Dlg"
#endif
BEGIN
	
	CONTROL "Request",IDC_GRP_REQUEST,"BUTTON",WS_CHILD | WS_VISIBLE | BS_GROUPBOX,IDC_GRP_REQUEST_X,IDC_GRP_REQUEST_Y,IDC_GRP_REQUEST_W,IDC_GRP_REQUEST_H
	
	CONTROL "&Server:", IDC_STC_SERVER, "STATIC", WS_CHILD | WS_VISIBLE | SS_LEFT, IDC_STC_SERVER_X, IDC_STC_SERVER_Y, IDC_STC_SERVER_W, IDC_STC_SERVER_H
	CONTROL "localhost", IDC_EDT_SERVER, "EDIT", WS_CHILD | WS_VISIBLE | WS_TABSTOP | ES_LEFT, IDC_EDT_SERVER_X, IDC_EDT_SERVER_Y, IDC_EDT_SERVER_W, IDC_EDT_SERVER_H, WS_EX_CLIENTEDGE
	
	CONTROL "&Resource:", IDC_STC_RESOURCE, "STATIC", WS_CHILD | WS_VISIBLE | SS_LEFT, IDC_STC_RESOURCE_X, IDC_STC_RESOURCE_Y, IDC_STC_RESOURCE_W, IDC_STC_RESOURCE_H
	CONTROL "/", IDC_EDT_RESOURCE, "EDIT", WS_CHILD | WS_VISIBLE | WS_TABSTOP | ES_LEFT, IDC_EDT_RESOURCE_X, IDC_EDT_RESOURCE_Y, IDC_EDT_RESOURCE_W, IDC_EDT_RESOURCE_H, WS_EX_CLIENTEDGE
	
	CONTROL "&Verb:",IDC_STC_VERB, "STATIC", WS_CHILD | WS_VISIBLE | SS_LEFT, IDC_STC_VERB_X, IDC_STC_VERB_Y, IDC_STC_VERB_W, IDC_STC_VERB_H
	CONTROL "PUT", IDC_EDT_VERB, "EDIT", WS_CHILD | WS_VISIBLE | WS_TABSTOP | ES_LEFT, IDC_EDT_VERB_X, IDC_EDT_VERB_Y, IDC_EDT_VERB_W, IDC_EDT_VERB_H, WS_EX_CLIENTEDGE
	
	CONTROL "&File:",IDC_STC_FILE, "STATIC", WS_CHILD | WS_VISIBLE | SS_LEFT, IDC_STC_FILE_X, IDC_STC_FILE_Y, IDC_STC_FILE_W, IDC_STC_FILE_H
	CONTROL "", IDC_EDT_FILE, "EDIT", WS_CHILD | WS_VISIBLE | WS_TABSTOP | ES_LEFT, IDC_EDT_FILE_X, IDC_EDT_FILE_Y, IDC_EDT_FILE_W, IDC_EDT_FILE_H, WS_EX_CLIENTEDGE
	CONTROL "&Browse...",IDC_BTN_BROWSE,"BUTTON",WS_CHILD | WS_VISIBLE | WS_TABSTOP,IDC_BTN_BROWSE_X,IDC_BTN_BROWSE_Y,IDC_BTN_BROWSE_W,IDC_BTN_BROWSE_H
	CONTROL "&Paste",IDC_BTN_PASTE,"BUTTON",WS_CHILD | WS_VISIBLE | WS_TABSTOP,IDC_BTN_PASTE_X,IDC_BTN_PASTE_Y,IDC_BTN_PASTE_W,IDC_BTN_PASTE_H
	
	CONTROL "Content &type:", IDC_STC_TYPE, "STATIC", WS_CHILD | WS_VISIBLE | SS_LEFT, IDC_STC_TYPE_X, IDC_STC_TYPE_Y, IDC_STC_TYPE_W, IDC_STC_TYPE_H
	CONTROL "application/octet-stream", IDC_EDT_TYPE, "EDIT", WS_CHILD | WS_VISIBLE | WS_TABSTOP | ES_LEFT, IDC_EDT_TYPE_X, IDC_EDT_TYPE_Y, IDC_EDT_TYPE_W, IDC_EDT_TYPE_H, WS_EX_CLIENTEDGE
	
	CONTROL "&User name:", IDC_STC_USER, "STATIC", WS_CHILD | WS_VISIBLE | SS_LEFT, IDC_STC_USER_X, IDC_STC_USER_Y, IDC_STC_USER_W, IDC_STC_USER_H
	CONTROL "", IDC_EDT_USER, EDIT, WS_CHILD | WS_VISIBLE | WS_TABSTOP | ES_LEFT, IDC_EDT_USER_X, IDC_EDT_USER_Y, IDC_EDT_USER_W, IDC_EDT_USER_H, WS_EX_CLIENTEDGE
	
	CONTROL "Pass&word:", IDC_STC_PASSWORD, "STATIC", WS_CHILD | WS_VISIBLE | SS_LEFT, IDC_STC_PASSWORD_X, IDC_STC_PASSWORD_Y, IDC_STC_PASSWORD_W, IDC_STC_PASSWORD_H
	CONTROL "", IDC_EDT_PASSWORD, "EDIT", WS_CHILD | WS_VISIBLE | WS_TABSTOP | ES_LEFT, IDC_EDT_PASSWORD_X, IDC_EDT_PASSWORD_Y, IDC_EDT_PASSWORD_W, IDC_EDT_PASSWORD_H, WS_EX_CLIENTEDGE
	
	// Дополнительные заголовки, например, Content-Language: ru, RU-RU
	// CONTROL "Коэффициент &a:",IDC_STC_COEFFICIENTA, STATIC, WS_CHILD | WS_VISIBLE | SS_LEFT,  13,  43,  64,  8
	// CONTROL "",               IDC_EDT_COEFFICIENTA, EDIT,   WS_CHILD | WS_VISIBLE | WS_TABSTOP | ES_LEFT,  84,  41,  91, 14, WS_EX_CLIENTEDGE
	
	CONTROL "Response", IDC_GRP_RESPONSE, "BUTTON", WS_CHILD | WS_VISIBLE | BS_GROUPBOX, IDC_GRP_RESPONSE_X, IDC_GRP_RESPONSE_Y, IDC_GRP_RESPONSE_W, IDC_GRP_RESPONSE_H
	CONTROL "&Response from server:",IDC_STC_RESPONSE,"STATIC", WS_CHILD | WS_VISIBLE | SS_LEFT, IDC_STC_RESPONSE_X, IDC_STC_RESPONSE_Y, IDC_STC_RESPONSE_W, IDC_STC_RESPONSE_H
	CONTROL "", IDC_EDT_RESPONSE, "EDIT", WS_CHILD | WS_VISIBLE | WS_TABSTOP | ES_LEFT | ES_MULTILINE | WS_VSCROLL | ES_READONLY, IDC_EDT_RESPONSE_X, IDC_EDT_RESPONSE_Y, IDC_EDT_RESPONSE_W, IDC_EDT_RESPONSE_H, WS_EX_CLIENTEDGE
	
	CONTROL "&Send",IDOK,"BUTTON",WS_CHILD | WS_VISIBLE | WS_TABSTOP,IDOK_X,IDOK_Y,IDOK_W,IDOK_H
	CONTROL "&Copy URL",IDC_BTN_COPY,"BUTTON",WS_CHILD | WS_VISIBLE | WS_TABSTOP,IDC_BTN_COPY_X,IDC_BTN_COPY_Y,IDC_BTN_COPY_W,IDC_BTN_COPY_H
	CONTROL "&Exit",IDCANCEL,"BUTTON",WS_CHILD | WS_VISIBLE | WS_TABSTOP,IDCANCEL_X,IDCANCEL_Y,IDCANCEL_W,IDCANCEL_H
END

#define IDC_STC_PROGRESS_X     DIALOG_PADDING
#define IDC_STC_PROGRESS_Y     DIALOG_PADDING
#define IDC_STC_PROGRESS_W     PROGRESSBAR_WIDTH_SMALL
#define IDC_STC_PROGRESS_H     STATIC_HEIGHT

#define IDC_PRB_PROGRESS_X     DIALOG_PADDING
#define IDC_PRB_PROGRESS_Y     IDC_STC_PROGRESS_Y + IDC_STC_PROGRESS_H + RELATED_CONTROL_BETWEENSPACE
#define IDC_PRB_PROGRESS_W     PROGRESSBAR_WIDTH_SMALL
#define IDC_PRB_PROGRESS_H     PROGRESSBAR_HEIGHT

#define IDCANCEL_2_X           DIALOG_PADDING + PROGRESSBAR_WIDTH_SMALL_H2 - BUTTON_WIDTH_H2
#define IDCANCEL_2_Y           IDC_PRB_PROGRESS_Y + IDC_PRB_PROGRESS_H + UNRELATED_CONTROL_BETWEENSPACE
#define IDCANCEL_2_W           BUTTON_WIDTH
#define IDCANCEL_2_H           BUTTON_HEIGHT

#define IDD_DLG_PROGRESS_X     0
#define IDD_DLG_PROGRESS_Y     0
#define IDD_DLG_PROGRESS_W     IDC_PRB_PROGRESS_W + DIALOG_PADDING + DIALOG_PADDING
#define IDD_DLG_PROGRESS_H     IDCANCEL_2_Y + BUTTON_HEIGHT + DIALOG_PADDING

IDD_DLG_PROGRESS DIALOGEX IDD_DLG_PROGRESS_X, IDD_DLG_PROGRESS_Y, IDD_DLG_PROGRESS_W, IDD_DLG_PROGRESS_H
CAPTION "Send Progress"
STYLE WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_CLIPSIBLINGS | DS_CENTER | DS_SHELLFONT
#if (WINVER >= 0x0600) /* Windows Vista */
FONT 9, "Segoe UI"
#else
FONT 8, "MS Shell Dlg"
#endif
BEGIN
	CONTROL "&Send Progress:", IDC_STC_PROGRESS, "STATIC", WS_CHILD | WS_VISIBLE | SS_LEFT, IDC_STC_PROGRESS_X, IDC_STC_PROGRESS_Y, IDC_STC_PROGRESS_W, IDC_STC_PROGRESS_H
	CONTROL "", IDC_PRB_PROGRESS, "msctls_progress32", WS_CHILD | WS_VISIBLE, IDC_PRB_PROGRESS_X, IDC_PRB_PROGRESS_Y, IDC_PRB_PROGRESS_W, IDC_PRB_PROGRESS_H
	CONTROL "&Cancel",IDCANCEL,"BUTTON",WS_CHILD | WS_VISIBLE | WS_TABSTOP,IDCANCEL_2_X,IDCANCEL_2_Y,IDCANCEL_2_W,IDCANCEL_2_H
END

VS_VERSION_INFO VERSIONINFO
FILEVERSION VER_FILEVERSION
PRODUCTVERSION VER_PRODUCTVERSION
FILEFLAGSMASK VS_FFI_FILEFLAGSMASK
FILEFLAGS VER_DEBUG | VER_PRIVATEBUILD | VER_SPECIALBUILD | VER_PRERELEASE // VS_FF_PATCHED VS_FFI_FILEFLAGSMASK
FILEOS VOS_NT_WINDOWS32
FILETYPE VFT_APP
FILESUBTYPE 0
BEGIN
	BLOCK "StringFileInfo"
	BEGIN
		BLOCK "041904B0"
		BEGIN
			VALUE "CompanyName",      "BatchedFiles"
			VALUE "FileDescription",  "HttpRest"
			VALUE "FileVersion",      VER_FILEVERSION_STR
			VALUE "InternalName",     "HttpRest"
			VALUE "LegalCopyright",   "GNU General Public License v3"
			VALUE "LegalTrademarks",  "BatchedFiles"
			VALUE "OriginalFilename", "HttpRest.exe"
			VALUE "ProductName",      "HttpRest"
			VALUE "ProductVersion",   VER_PRODUCTVERSION_STR
		#ifdef DEBUG
			VALUE "Comments",         "Additional information that should be displayed for diagnostic purposes."
		#endif
		#ifdef PRIVATEBUILD
			// Information about a private version of the file—for example,
			// This string should be present only if VS_FF_PRIVATEBUILD
			// is specified in the fileflags parameter of the root block.
			VALUE "PrivateBuild",     "Built by TESTER1 on TESTBED"
		#endif
		#ifdef SPECIALBUILD
			// Text that specifies how this version of the file differs from the standard version—for example,
			// This string should be present only if VS_FF_SPECIALBUILD
			// is specified in the fileflags parameter of the root block.
			VALUE "SpecialBuild",     "Private build for TESTER1 solving mouse problems on M250 and M250E computers"
		#endif
		END
	END
	BLOCK "VarFileInfo"
	BEGIN
		VALUE "Translation", 0x0419, 0x04B0
	END
END
